.about {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f8ff;
    color: #333;
  }
  
  .about h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .go-home-link {
    text-decoration: none;
    color:rgb(4 128 111);;
    font-size: 0.8rem;
    padding: 10px 20px;
    border: 2px solid rgb(4 128 111);;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10rem;
  }
  
  .go-home-link:hover {
    background-color: rgb(41, 119, 109);
    color: white;
  }

  .image{
    margin-top: 30px;
    height: 22rem;
    width: 40rem;

  }
  